<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886272604788-cumljme84erei8o6k2a8h6vajvp3m3g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886272604788-cumljme84erei8o6k2a8h6vajvp3m3g5</string>
	<key>API_KEY</key>
	<string>AIzaSyD19jBiXNdgGKojxJAwt-9AS8AHPUisikU</string>
	<key>GCM_SENDER_ID</key>
	<string>886272604788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.counterApp.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-f2815</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-f2815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886272604788:ios:17c4cfbec3de0345</string>
	<key>DATABASE_URL</key>
	<string>https://chat-f2815.firebaseio.com</string>
</dict>
</plist>